<div>
  {{bkg-vid data-related="" path=model.modelInfo.mediaPath fName=""}}

  {{model.state.startingVidFName}}

  <div id="carousel">
    <!-- Populates CAROUSEL with video icons -->
    <!-- MAKE INTO COMPONENT -->

    {{#each-in model.items as |key value|}}
      <img {{action "loadVideo" key}} height="90" width="160"
      src="{{model.modelInfo.mediaPath}}{{value.fName}}.png" class="menuThumbnail">
    {{/each-in}}
  </div>

  <div id="buttons">
    <button id="playback-toggle" {{action "togglePlayback"}}>Pause</button>
    <button id="carousel-toggle" {{action "toggleCarousel"}}>Menu</button>
  </div>

  <div id="vid-select">
    <!-- Generates RELATED video icons -->
    <!-- MAKE INTO COMPONENT -->

    <div class="divTable">
    {{#each-in model.items as |parentKey value|}}
      <div id={{parentKey}} class="thumbnail divTableCell" data-related={{value.relatedContent}}>
        <img {{action "loadVideo" parentKey}} height="90" width="90" src="{{model.modelInfo.mediaPath}}{{value.fName}}.png"><br>
      </div>
    {{/each-in}}
  </div>
  </div>
</div>

{{outlet}}
