<div class="content-area--title">
  <h3>{{newModel.config.prettyName}} <small>{{newModel.config.description}}</small></h3>
</div>

{{properties-panel
  onSubmitCallback=(action 'dataUpdate')
  propertiesExpandedCallback=(action 'setPropertiesExpanded')
  updateModalCallback=(action 'updateModalInfo')
  class=(if propertiesExpanded "content-area--properties-large" "content-area--properties-small")
  data=selectedVideo
  attributes=selectedVideoAttributes
  relations=selectedVideoRelations
  config=data.modelConfig
  vidKey=selectedVideoKey
}}

{{configuration-panel
  configurationExpandedCallback=(action 'setConfigurationExpanded')
  validation=(action "validateConfig")
  onSubmitCallback=(action 'configUpdate')
  class=(configuration-css attributesExpanded propertiesExpanded)
  data=newModel.config
  config=data.modelConfig.config
}}

{{attribute-panel
  attributeDropCallback=(action 'updateAddAttrToVideoData')
  attributesExpandedCallback=(action 'setAttributesExpanded')
  updateModalCallback=(action 'updateModalInfo')
  deleteAttributeCallback=(action 'deleteAttribute')
  class=(if attributesExpanded "content-area--attribute-large" "content-area--attribute-small")
  data=newModel.attributes
}}

{{graph-visualizer
  getVideoCallback=(action 'addAttributeToVideo')
  videoSelectedCallback=(action 'setSelectedVideo')
  saveModelCallback=(action 'saveModel')
  addVideoCallback=(action 'updateModalAddVideo')
  addAttributeCallback=(action 'updateModalAddAttribute')
  addRelationCallback=(action 'addRelation')
  removeRelationCallback=(action 'removeRelation')
  relationsConfig=data.modelConfig.videos.data.video.data.relations.data.[0].relation
  addAttrToVideoData=addAttrToVideoData
  editAttributeData=editAttributeData
  addVideoData=addVideoData
  editVideoData=editVideoData
  attributesExpanded=attributesExpanded
  propertiesExpanded=propertiesExpanded
  configurationExpanded=configurationExpanded
  data=newModel
}}

<div class="modal fade" id="formOverlay" tabindex="-1" role="dialog" aria-labelledby="modalFormOverlay">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalFormOverlay">{{modalTitle}}</h4>
      </div>

      <div class="modal-body content-area--modal__body">
        {{generic-form
          validation=(action 'doNothing')
          onSubmitCallback=(action 'dataUpdate')
          prefix=modalPrefix
          path=modalPath
          key=modalKey
          showHelp=true
          showTitle=false
          noLabel=false
          data=modalData
          config=modalConfig
        }}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

