{{yield}}

{{#each-in data.data as |key value|}}
  {{#if (is-array value.data)}}

  {{else if (is-object value.data)}}
    {{#form-contents data=value offset=offset}}
      <div class="form-group">
        <label class="{{nextFormOffset}} col-sm-3 control-label">{{value.displayName}}</label>
      </div>
    {{/form-contents}}
  {{else}}
    <div class="form-group">
      <label for={{key}} class="{{formOffset}} col-sm-3 control-label">{{value.displayName}}</label>
      <div class="col-sm-5">
        {{form-contents-input key=key data=value class=(if (not-checkbox value.inputType) "form-control")}}
      </div>
    </div>
  {{/if}}
{{/each-in}}
