{{yield}}

{{#if inputId}}
  {{#if config.inputType}}
    <div class="form-group">
      <label id={{inputId}}>{{config.displayName}}</label>
      <span class="help-block">{{config.help}}</span>
    </div>
  {{/if}}
{{/if}}

{{#each-in config.data as |key value|}}
  {{#if (is-list value.inputType)}}
    <div class="form-group">
      <label for={{create-id inputId key}} class={{if noLabel "sr-only"}}>{{value.displayName}}</label><br>
      <span class="help-block">{{value.help}}</span>
    </div>
    {{form-contents-list tagName="ul" class="list-group" data=value.data}}
  {{else if (is-array value.data)}}
    <div class="form-group">
      <label for={{create-id inputId key}} class={{if noLabel "sr-only"}}>{{value.displayName}}</label><br>
      {{form-contents-select key=(create-id inputId key) data=value.data class="form-control input-sm"}}
      <span class="help-block">{{value.help}}</span>
    </div>
  {{else if (is-object value.data)}}
    {{form-contents data=(get-data data key) noLabel=noLabel inputId=(create-id inputId key) tagName='' config=value}}
  {{else if (is-valid-input-type value.inputType)}}
    <div class="form-group">
      <label for={{create-id inputId key}} class={{if noLabel "sr-only"}}>{{value.displayName}}</label><br>
      {{form-contents-input placeholder=(if (get-data data key) (get-data data key) value.displayName) key=(create-id inputId key) data=value class=(if (not-checkbox value.inputType) "form-control input-sm")}}
      <span class="help-block">{{value.help}}</span>
    </div>
  {{/if}}
{{/each-in}}
