{{yield}}

{{#each-in data.data as |key value|}}
  {{#if (is-array value.data)}}
    <div class="form-group">
      <label for={{key}} class="sr-only">{{value.displayName}}</label>
      {{form-contents-select key=key data=value.data class="form-control input-sm"}}
      <span class="help-block">{{value.help}}</span>
    </div>
  {{else if (is-object value.data)}}
    {{form-contents tagName='' data=value}}
  {{else if value.inputType}}
    <div class="form-group">
      <label for={{key}} class="sr-only">{{value.displayName}}</label>
      {{form-contents-input key=key data=value class=(if (not-checkbox value.inputType) "form-control input-sm")}}
      <span class="help-block">{{value.help}}</span>
    </div>
  {{/if}}
{{/each-in}}
