{{#if showTitle}}
  <h3>{{config.displayName}}<small> {{config.help}}</small></h3>
{{/if}}

<form class={{if isInline "form-inline" "form-horizontal"}}>
  {{form-contents relations=relations attributes=attributes updateModalCallback=(if updateModalCallback updateModalCallback null) editRelationCallback=(if editRelationCallback editRelationCallback null) noLabel=noLabel data=data config=config}}
  <button type="submit" class="btn btn-success btn-xs">Submit {{title}}</button>
</form>
