<div class="btn-group button__group" role="toolbar" aria-label="Toolbar with button grpups">
{{! Editor things}}
  {{#link-to 'modelSelect' tagName='button' type="button" class="btn btn-warning"}}
    <span class="white"><span class="glyphicon glyphicon-home"/> Exhibit Selection</span>
  {{/link-to}}
  <button {{action saveModelCallback}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"/> Save Exhibit</button>
  <button {{action 'drawGraph'}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"/> Refresh Graph</button>
  
{{! Add things}}
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-plus"/> Add <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li {{action addVideoCallback}} data-toggle="modal" data-target="#formOverlay"><a href="#">Video <span class="glyphicon glyphicon-facetime-video"/></a></li>
      <li role="separator" class="divider"></li>
      <li {{action addAttributeCallback}} data-toggle="modal" data-target="#formOverlay"><a href="#">Attribute <span class="glyphicon glyphicon-tag"/></a></li>
      <li role="separator" class="divider"></li>
      <li {{action 'addEdgeMode'}}><a href="#">Relation <span class="glyphicon glyphicon-link"/></a></li>
    </ul>
  </div>
  
{{! Removing things}}
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-minus"/> Remove <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a {{action 'deleteVideoMode'}} href="#">Video <span class="glyphicon glyphicon-facetime-video"/></a></li>
      <li role="separator" class="divider"></li>
      <li><a {{action 'deleteAttributeMode'}} href="#">Attribute <span class="glyphicon glyphicon-tag"/></a></li>
      <li role="separator" class="divider"></li>
      <li><a {{action 'deleteEdgeMode'}} href="#">Relation <span class="glyphicon glyphicon-link"/></a></li>
    </ul>
  </div>
</div>

<div class="graph-container">
  <div class="vis-network canvas-wrapper" tabindex="900">
    <canvas class="graph-canvas">
    </canvas>
  </div>
</div>

<div class="canvas-popover unselectable cursor--default" class="hidden">
  <h3>{{popoverTitle}}</h3>
  <h4>Attributes:</h4>
  <p>{{popoverContent}}</p>
</div>

<div id="modal-container">
  <div class="modal fade" id="addRelationOverlay" tabindex="-2" role="dialog" aria-labelledby="modalAddRelationOverlay">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalAddRelationOverlay">Add a Relation</h4>
        </div>

        <div class="modal-body content-area--modal__body">
          {{generic-form
            onSubmitCallback=(action 'createEdge')
            validationCallback=(action 'doNothing')
            prefix="relation"
            showHelp=true
            showTitle=false
            config=relationsConfig
            clearValues=true
          }}
        </div>

        <div class="modal-footer">
        
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
