<div class="video-player__background--container">
  {{video-player class='video-player__darken' playing=(if displayVideo false true) url=(make-local-url data.config.modelIdentifier backgroundVideoUrl) onEndedCallback=(action 'cycleBackground')}}
</div>

{{#if displayVideoSelect}}
    {{video-list selectedVidPos=0 class="video-list video-list--flex" listItemClass="video-list-item--flex" listItemSmall="video-list-item--flex__small" listItemSelected="video-list-item--selected" keyboard=data.config.keyboard videos=data.videos modelIdentifier=data.config.modelIdentifier focus=displayVideoSelect onSelectedCallback=(action 'videoSelected') onCancelledCallback=(action 'cancel')}}
{{/if}}

{{#if displayVideo}}
  <div class="video-player__fullscreen">
    {{video-player playing=videoPlaying muted=true url=video onClickCallback=(action 'videoSelected' bubbles=false) onHoverCallback=(action 'doNothing') onEndedCallback=(action 'videoEnded') videoPos=backgroundVideoPos}}
  </div>
{{/if}}

{{menu-bar config=data.config videos=data.videos attributes=data.attribute onClickCallback=(action 'videoSelected')}}

{{yield}}
