{{!-- Background video that is shown at all times --}}
<div class="video-player__background--container">
  {{video-player
    muted=(if displayAfterVideoList true (if displayVideoSelect true false))
    class=(if displayMapView 'video-player__hidden' (if displayVideo 'video-player__hidden' 'video-player__darken'))
    looping=(is-single-video data.config.backgroundVideos)
    playing=(if displayMapView false (if displayVideo false true))
    url=(if bgVidData.full.isUrl bgVidData.full.fileIdentifier (make-local-url data.config.modelIdentifier bgVidData.full.fileIdentifier))
    onEndedCallback=(action 'cycleBackground')
  }}
</div>

{{!-- Full screen video --}}
{{#if displayVideo}}
  <div class="video-player__fullscreen">
    {{video-player
      playing=videoPlaying
      muted=false
      startingTime=playingVidData.startingTime
      url=(if playingVidData.full.isUrl playingVidData.full.fileIdentifier (make-local-url data.config.modelIdentifier playingVidData.full.fileIdentifier))
      onClickCallback=(action 'videoPaused' bubbles=false)
      onHoverCallback=(action 'doNothing')
      onEndedCallback=(action 'videoEnded')
    }}
  </div>
{{/if}}

{{!-- Map view stack-list --}}
{{#if displayMapView}}
  <img class="bg-image" src={{make-local-url data.config.modelIdentifier data.config.backgroundImage}}>
  {{stack-list
    isFlex=false
    focus=displayMapView
    onHoverCallback=(action 'doNothing')
    onSelectedCallback=(action 'stackSelected')
    onCancelledCallback=(action 'doNothing')
    onInputCallback=(action 'resetTimeout')
    onStackChangeCallback=(action 'doNothing')
    focus=displayMapView
    class="stack-list no-outline"
    stackItemHighlight="blue-border"
    data=mapData
    stackItemClass="stack-list-item--flex"
    keyboard=keyboard
    modelIdentifier=config.modelIdentifier
  }}
{{/if}}

{{!-- Video selection for when a stack from map view is selected --}}
{{#if displayVideoSelect}}
  {{video-list
    selectedVidPos=vidSelectPos
    class="video-list video-list--flex"
    listItemClass="video-list-item--flex"
    listItemSmall="video-list-item--flex__small"
    listItemSelected="video-list-item--selected"
    listItemHighlight="blue-border"
    keyboard=keyboard
    videos=vidSelectData
    modelIdentifier=data.config.modelIdentifier
    focus=displayVideoSelect
    onSelectedCallback=(action 'videoSelected')
    onCancelledCallback=(action 'cancelPressed')
    onHoverCallback=(action 'doNothing')
    onInputCallback=(action 'resetTimeout')
  }}
{{/if}}

{{!-- View after video is completed --}}
{{#if displayAfterVideoList}}
  {{after-video-list
    data=afterVideoListData
    config=data.config
    onInputCallback=(action 'resetTimeout')
    videoSelectedCallback=(action 'videoSelected' bubbles=false)
  }}
{{/if}}

{{!-- Re-positionable menu-bar --}}
{{menu-bar
  popoverShowDelay=data.config.ui.popoverShowDelay
  config=data.config
  videos=data.videos
  attributes=data.attributes
  onClickCallback=(action 'videoSelected')
}}

{{yield}}
