{{yield}}
{{#if isFlex}}
	<div>
    {{#each-in data as |key value|}}
        <div class="{{stackItemClass}} {{if (video-selected key selectedStackIndex)stackItemSelected}}">
        
          {{video-stack highlightedStyle=(if (video-selected key selectedStackIndex) stackItemHighlight) videos=value.videos  highlightedStyle=(if (video-selected key selectedStackIndex) stackItemHighlight) isMuted=(if (video-selected key selectedStackIndex) isMuted false) loop=true onClickCallback=(action 'stackClicked') onHoverCallback=(action 'stackHovered') stackIndex=key}}
        </div>
    {{/each-in}}
	</div>
{{else}}
    {{#each-in data as |key value|}}
      <div style={{make-stack-style x=value.x y=value.y}}>
        {{video-stack videos=value.videos  highlightedStyle=(if (video-selected key selectedStackIndex) stackItemHighlight) isMuted=(if (video-selected key selectedStackIndex) isMuted false)loop=true onSelectedCallback=(action 'select') 
        onClickCallback=(action 'stackSelected') cancelCallback=(action 'cancel') onHoverCallback=(action 'hover') stackIndex=key}}
      </div>
    {{/each-in}}
{{/if}}

