{{yield}}

{{#if isFlex}}
	<div class="stack-list--flex-container">
    {{#each-in data as |key value|}}
        <div class="{{stackItemClass}}">
          {{video-stack
            modelIdentifier=modelIdentifier
            videos=value.videos
            borderStyle=(if (video-selected key selectedStackIndex) stackItemHighlight)
            onHoverCallback=(action 'stackHovered')
            onSelectedCallback=(action 'stackSelected')
            selectedStackIndex=key
          }}
        </div>
    {{/each-in}}
	</div>
{{else}}
  <div class="stack-list--non-flex-container">
    {{#each-in data as |key value|}}
        <div style={{make-stack-style value.x value.y}} class="non-flex-list-item">
          {{video-stack
            modelIdentifier=modelIdentifier
            videos=value.videos
            borderStyle=(if (video-selected key selectedStackIndex) stackItemHighlight)
            onHoverCallback=(action 'stackHovered')
            onSelectedCallback=(action 'stackSelected')
            selectedStackIndex=key
          }}
      </div>
    {{/each-in}}
  </div>  
{{/if}}
