{{#each-in data.videos as |key value|}}
  <div class={{flexItemClass}}>
    {{key}}: {{value.url}}<br>
    {{video-player class='video-player__component' looping=true url=value.url }}
  </div>
{{/each-in}}

{{yield}}