<p>
    Mute: {{muted}} <br/>
    Play: {{playing}}<br/>
    Loop: {{looping}}<br/>
    URL: {{url}}
</p>

<video class="video-player" autoplay={{playing}} src={{url}} muted={{muted}} loop={{looping}} />