<div class={{playerSize}}>
	{{!A}}
	{{#if (is-object vidA)}}
		{{video-player 
			class=(unless showVidA "hidden")
			playing=showVidA
			highlightedStyle=(concat stackStyle " " borderStyle) 
			looping=(is-single-video videos) 
			videoPos=selectedVidAPos 
			videoId=vidA.id
			url=(concat modelIdentifier "/" vidA.teaser.fileIdentifier)
			muted=isMuted
			onClickCallback=(action 'stackClicked') 
			onHoverCallback=(action 'stackHovered') 
			onEndedCallback=(action 'getNextVideoA')
		}}
	{{else}}
		{{video-player 
			class=(unless showVidA "hidden")
			playing=showVidA
			highlightedStyle=(concat stackStyle " " borderStyle) 
			looping=(is-single-video videos) 
			videoPos=selectedVidAPos 
			videoId=vidA
			muted=isMuted
			onClickCallback=(action 'stackClicked') 
			onHoverCallback=(action 'stackHovered') 
			onEndedCallback=(action 'getNextVideoA')
		}}
	{{/if}}

	{{!B}}
	{{#unless (is-single-video videos)}}
		{{#if (is-object vidB)}}
			{{video-player 
				class=(if showVidA "hidden")
				playing=(unless showVidA true)
				highlightedStyle=(concat stackStyle " " borderStyle) 
				looping=false
				videoPos=selectedVidBPos 
				videoId=vidB.id
				url=(concat modelIdentifier "/" vidB.teaser.fileIdentifier)
				muted=isMuted
				onClickCallback=(action 'stackClicked') 
				onHoverCallback=(action 'stackHovered') 
				onEndedCallback=(action 'getNextVideoB')
			}}
		{{else}}
			{{video-player 
				class=(if showVidA "hidden")
				playing=(unless showVidA true)
				highlightedStyle=(concat stackStyle " " borderStyle) 
				looping=false
				videoPos=selectedVidBPos 
				videoId=vidB
				muted=isMuted
				onClickCallback=(action 'stackClicked') 
				onHoverCallback=(action 'stackHovered') 
				onEndedCallback=(action 'getNextVideoB')
			}}
		{{/if}}
	{{/unless}}	
</div>

{{yield}}
