<h3>This is a video list</h3>
Is Active: {{isActive}}

<div class={{flexContainerClass}}>
  {{#each-in data.videos as |key value|}}
    <div class={{flexItemClass}}>
      {{key}}: {{value.url}}<br>
      {{video-player url=value.url}}
    </div>
  {{/each-in}}
</div>

{{yield}}